@font-face{
    font-family: Playlist-Script;
    src: url('../src/fuentes/Playlist\ Script.otf');
}

.title-font{
    text-decoration: none;
    color: black;
    font-family: Playlist-Script;
    font-size: 80px;
    text-align: center;
    margin-bottom: 0%;
    letter-spacing: 6px;
}

.subtitle-font{
    font-family: 'Sanchez', serif;
    color: rgb(75, 72, 72);
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.ul-font{
    font-family: 'Sanchez', serif;
    letter-spacing: 1px;
}