.container{
    display: grid;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
    margin-top: 30px;
    .row{

        .col{

            img{
                width: 300px;
                border-radius: 50%;
                margin-bottom: 9px;
                border: 5px solid;
                border-color: #DE8887  #9BEBE5  #879ADE #D9A2F5;
            }
        }
    }
}