@import 'body';
@import 'fuentes';
@import 'menu';
@import 'section-one';
@import 'section-two';
@import 'section-three';
@import 'section-four';
@import 'section-quienesomos';
@import 'footer';

*{
    padding: 0;
    margin: 0;
}


